@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

html {
  padding: 0px;
  margin: 0px;
}

body {
  display: block;
  min-height: 100vh;
  min-width: 1440px;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

li {
  display: flex;
  list-style: none;
}
.container {
  padding-right: 120px;
  padding-left: 147px;
}
* {
  box-sizing: border-box;
}

/*            HEADER          */
header {
  position: relative;
  background: #fff;
  z-index: 15;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
  padding-bottom: 36px;
}

.logo {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #5e239d;
}

/*   NAV   */

#checkbox-menu {
  display: none;
}
.toggle {
  width: 25px;
  height: 16px;
  transition: transform 100ms linear;
  
}
.navigation {
  display:flex;
  flex-direction: row;
}
ul {
  display: flex;
  align-items: stretch;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.navigation__item {
  display: block;
  font-family: 'Roboto', sans-serif;
  margin-right:54px;
  font-size: 14px;
  font-weight: 800;
  line-height: 30px;
  color: black;
  position: relative;
}
.mobile {
  display: flex;
  flex-direction: row;
}
.icon {
  padding-right: 18px;
}
.number {
  font-family: 'Roboto', sans-serif;
  margin-right:54px;
  font-size: 14px;
  font-weight: 800;
  line-height: 30px;
  color: black;
  position: relative;
}

/* INTRO */

.wrapper {
  display: flex;
  flex-direction: column;
}
.ourteam__background {
  background-image: url(../img/back.svg);
  width: 100%;
  min-height: 360px;
}
.ourteam__title {
  font-family: 'Roboto', sans-serif;
  position: relative;
  color: #F61067;
  font-weight: 500;
  font-size: 54px;
  line-height: 80px;
  padding-top: 108px;
  padding-bottom: 9px;
}
.ourteam__subtitle {
  font-family: 'Roboto', sans-serif;
  color: #F4F4ED;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;
  font-size: 18px;
  line-height: 37px;
}
.ourteam__block {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  background-color: #f2f2f2;
}
.ourteam__block_title {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #F61067;
  padding-bottom: 12px;
}
.ourteam__block_subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  color: #30233D;
  text-align: center;
  padding-bottom: 23px;
}
.ourteam__block_description {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #30233D;
}

/* TEAM */

.team {
  background-color: #150433;
  min-height: 1080px;
}
.team__item_container {
  margin: 0 auto;
  margin-top: -120px;
  max-width: 1300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 130px;
}
.item__img {
  padding-bottom: 22px;
}
.item__title { 
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 21px;
  line-height: 35px;
  text-align: center;
  color: #fff;
}
.item__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color:#FCFCFC;
  opacity: 0.5;
}
.item__icons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.item__icon {
  padding: 8px 20px;
}

/* SOLO */
.solo {
  border-bottom: 2px solid #F61067;
  width: 100%;
}
.solo__container {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 755px;
  margin-top: -120px;
  z-index: 100;
}
.solo_rounds {
  position: absolute;
  z-index: 1;
  padding-top: 100px;
}
.quotes {
  margin-top: -40px;
}
.solo__dicription {
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  padding-top: 116px;
}
.solo__subtitle {
  padding-top: 30px;
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 136px;
}
.solo__subtitle span {
  font-weight: 800;
  color: #F61067;
}
.solo__border {
  border-bottom: 2px solid #F61067;
  width: 100%;
}
/* SOLO SLIDER */
.slide {
  display: none;
}
.slide.active {
  display: block;
}
/* SUBSCRIBE */

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 162px;
  padding-bottom: 141px;
}
.subscribe__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  padding-bottom: 19px;
}
.subscribe__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color:#776C82;
}
.input__block {
  padding-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  
}
.input input{
  font-family: 'Roboto', sans-serif;
  border: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-right: 174px;
}
.input__subscribe {
  display: flex;
  flex-flow: row;
  background-color: #F4F4ED;
  padding: 5px 5px;
  align-items: center;
  text-transform: uppercase;
} 
.text-subscribe {
  font-family: 'Roboto', sans-serif;
  color: #F61067;
  font-weight: 800;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 6px;
  padding-right: 20px;
  padding-left: 28px;
}